useDynLib(cliqueMS, .registration=TRUE)
S3method(summary,anClique)
export(anClique)
export(createNetwork)
export(computeCliques)
export(getCliques)
export(getIsotopes)
export(getAnnotation)
importFrom(Rcpp, evalCpp)
